@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');


//Variables
$black: rgba(0,0,0,0.5);
$lighter: rgba(255,255,255,.5);
$grey: #252a30;
$lightgrey: grey;
$white: #fdfdfd;
$red: #d60004;


//Typography
*{
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.cursive{
    font-style: italic;
}

//Body
body{
    background: url(../img/background.jpg);
    background-position: cover;
    background-size: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 67px;
}

//nav
.logo{
    max-height: 100px;
}

.navbar-dark{
    .navbar-toggler{
        border-color: $white;
        border-radius: .125rem;
    }

    a{
        margin-bottom: 10px;
    }

    .navbar-nav .nav-link.active{
        background: $white;
        color: black;
        border-radius: 0.25rem;
    }
}

@media screen and(min-width: 768px){
    .navbar-expand-md .navbar-collapse{
        border-bottom: 1px solid $white;
    }
}

body .header-image{
    width: 100%;
    border-top: 1px solid $lighter;
}


//Main

article{
    margin-top: 10px;

    > div{
        padding: 10px;
        background: rgba(0,0,0,0.5);
        //Not sure on this one \/
        box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.75);
        margin-top: 10px;
    }

    h3, h4{
        text-align: center;
    }

    button{
        width: 60%;
        border-radius: 5px;
    }

    .btn{
        display: block;
        margin: 0 auto;
        color: $white;
        background: $grey;
        border: 1px solid darkgrey;
        padding: 10px;
    }

    .btn:hover{
        color: $white;
        background: $red;
        font-weight: bold;
        box-shadow: 0px 0px 4px 2px rgba(255,255,255,0.75);
    }
}

// article .btn:hover::after{
//     content: "->";
// }

.meta{
    margin-top: 10px;

    p{
        color: $lightgrey;
    }
}

.background-black{
    background: $black;
}

//Form
.form-control option{
    color: #495057;
}

//Bottom
.bottom{
    background: rgba(255,255,255,.2);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $lighter;
    margin-top: 20px;

    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }

    form .form-control{
        margin-top: 10px;
    }
}

//Footer
footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 20px;
    background-color:rgba(0,0,0,0.8);
}